

@media (min-width: 600px) {

}

@media (min-width: 776px) and (min-height: 600px) {
    .footer {
        justify-content: center;
        height: 70px
    }
}

@media screen and (min-width: 768px) {
    .main-section {
        background-position: center center
    }

    .main-section-title {
        font-size: 50px
    }

    .main-section-title span {
        font-size: 36px
    }

    .hamburger {
        top: 11px;
        right: 52px
    }

    .section-bottom {
        padding: 160px 0 200px;
    }

    .section {
        padding: 80px 0;
    }

    .embed-image-wrapper {
        overflow-x: hidden;
    }

    .embed-image-wrapper__image {
        max-width: 100% !important;
    }

    .nav-footer--link {
        font-size: 18px
    }
    .caption-wrap{
        grid-template-columns: repeat(3, 1fr);
    }
    .caption-one-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 769px) {
    .timer-cards{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto auto;
    }
    .card-text{
        font-size: 18px;
        line-height: 22px;
    }
    .arrivals-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        margin-bottom: 80px;
    }
    .card-transform.triple-mode{
        grid-column: span 3;
        min-height: 164px;
    }
    .triple-mode .triple-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33.3%;
    }
    .triple-mode .wrap-content{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .double-holder{
        flex-direction: row;
    }
    .double-holder--right{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
    }
    .triple-holder{
        grid-template-columns: repeat(3, 1fr);
    }
    .ticket-holder{
        grid-template-columns: repeat(3, 1fr);
    }
    .card-transform.double-mode{
        grid-column: span 2;
    }
    .masonry-holder{
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width: 999px) {
    body {
        margin: 90px 0 0;
    }
}

@media screen and (min-width: 1000px) {
    .masonry-holder{
        display: flex;
        flex-wrap: wrap;
    }
    .masonry-holder .card-transform{
       width: 100%;
    }
    .item1 { max-width: 394px; }
    .item2 { max-width: 394px; }
    .item3 { max-width: 256px; }
    .item4 { max-width: 256px; }
    .item5 { max-width: 256px; }
    .item6 { max-width: 532px; }

    .section-figure {
        display: flex;
        align-items: center
    }

    .section-figure img, .section-figure picture {
        width: auto;
    }

    .section-figure__caption {
        max-width: 726px;
        position: absolute;
        right: 16px;
        padding: 40px;
        bottom: 58px;
        width: 100%;
    }
    .section-figure__caption.second-mode {
        right: 16px;
        padding: 40px;
        top: 50px;
        min-height: 452px;
        border-radius: 10px;
    }
    .section-figure.second-mode {
        margin-bottom: 140px;
    }

    .nav {
        display: flex;
        align-items: center
    }

    .mobile-menu__bar {
        display: none
    }

    .hamburger {
        display: none
    }

    .mobile-menu {
        display: none;
    }

    .section-title {
        scroll-margin-top: 110px;
    }
    .swiper-button-next, .swiper-button-prev {
        display: block!important;
    }

}


@media (min-width: 1200px) {
    .section-figure.reverse-mode {
        flex-direction: row-reverse;
    }
    .section-figure.reverse-mode img {
        position: relative;
        z-index: 1;
    }
    .section-figure.reverse-mode .section-figure__caption  {
        left: 16px;
        top: -53px;
        max-width: 716px;
        min-height: 546px;
        padding: 50px 92px 50px 40px;
    }
    .section-title {
        font-size: 30px;
    }

    .regular-title {
        font-size: 28px;
    }
}

@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
    .main-section {
        background-image: url(../img/tui-teaser_image-1_minute_tourismus@2x.webp)
    }
}


